<!DOCTYPE html>
<html lang="en-GB">

<head>

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords"    content="">
    <meta name="author"      content="Joao Cruz - www.jlopescruz.com">

    <title>Media</title>

    <link rel="stylesheet"    href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet"    href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

</head>
<body>

    <!-- AngularJS App setup -->
    <div class="app-wrapper"
         data-ng-app="bbc"
         data-ng-controller="appController"
         data-ng-cloak>
        
        <!-- Preloader spinner -->
        <div class="spinner" data-ng-if="isMediaLoading"></div>
        
        <!-- Pages wrapper -->
        <div class="pages-wrapper"
             data-ng-style="{'width'     : nrPages * pageWidth + 'px', 
                             'transform' : 'translateX(' + pageWrapperPosition+')'}">

            <!-- Sections loop -->
            <section class="page" 
                     data-ng-repeat="page in [] | range: nrPages">

                <!-- Articles loop - articles directive -->
                <div data-media-block
                     data-ng-repeat="item in media | startFrom: page*nrItemsPerPage | limitTo: nrItemsPerPage"
                     item="item"
                     index="$index">
                </div>

            </section>

        </div>

        <!-- Pagination icons -->
        <ul class="pagination">
            <li data-ng-repeat="i in [] | range: nrPages">
                
                <a data-ng-click="moveToPage($index)">
                    {{$index + 1}}
                </a>

            </li>
        </ul>

    </div>

    <script src="js/main.min.js"></script>
    
</body>
</html>