<article class="media-block {{item.type}}" data-ng-click="showDetail(index)">

    <!-- Source / Duration -->
    <ul class="source-duration">
        <li>{{item.source}}</li>
        <li>{{item.duration}}</li>
    </ul>

    <!-- Image -->
    <img src="{{item.image}}" alt="{{item.name}}">

    <!-- Item title -->
    <h1>{{item.name}}</h1>

</article>