/* This module is responsible for all the layout - Mobile first*/
body {
    background: #FFF;
    margin: 0;
    padding: 0;
}

h1 {
    padding: 0;
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

ul,
ul li {
    
    list-style-type: none;
}

a {
    text-decoration: none;
}

.app-wrapper {
    position: relative;
    min-height: 415px;
    overflow: hidden;
}

.media-block {
    cursor: pointer;
    background-color: #CCC;
    margin-bottom: 20px;

    h1 {
        font-size: 1.4rem;
    }
}

.page {
    width: 728px;
    float: left;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.pagination {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;

    li {
        display: inline-block;
    }

    a {
        cursor: pointer;
    }
}

.pages-wrapper {
    overflow: hidden;
    @include transition(all .4s ease);
    @include transform(translateX(0));
}

@media only screen and (min-width: $breakpoint-tablet) {
    .app-wrapper {
        width: 728px;
        margin: 20px auto;
    }
}

@media only screen and (min-width: $breakpoint-desktop) {
    
}